	

body {
  background-image: url('https://besthqwallpapers.com/Uploads/12-3-2019/83075/thumb-neymar-jr-kylian-mbappe-psg-forwards-paris-saint-germain.jpg'); background-repeat: no-repeat;
  background-size: 100%;
}

.image2{
  height: 90px;
  width: 90px;
  background-image: url('https://i.eurosport.com/2019/10/28/2705384-55929710-2560-1440.jpg?w=1050');
  background-size: 100%;
  background-repeat: no-repeat;
}

a:link,	a:visited {
  background-color: #f44336;
  color: blue;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
			